<div class="login-container">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="avatar-container marto15 marbo15">
          <img class="login-avatar-image img-fluid" src="../../assets/img/generic_avatar.png">
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="center">
            <p  *ngIf="operation === 'register'">
              Ya tienes cuenta? <a (click) = "operation = 'login'">Login</a>
            </p>
            <p  *ngIf="operation === 'login'" >
                No tienes cuenta? <a (click) = "operation = 'register'">Registrate</a>
              </p>
            <h3>Iniciar Sesion</h3>
            <div class="borderedContainer">
              <input [(ngModel)]="email" class="form-control marbo15" type="email" placeholder="Ingresa tu Email">
              <input [(ngModel)]="password" class="form-control marbo15" type="password" placeholder="Ingresa tu password">
              <input [(ngModel)]="nick" *ngIf="operation === 'register'" class="form-control marbo15" type="text" placeholder="Ingresa tu Nick">
              <div class="center">
                <a (click)="login()" *ngIf="operation === 'login'" class="btn btn-primary form-control marbo15 msn-style"> Iniciar session</a>
                <a (click)="register()" *ngIf="operation === 'register'" class="btn btn-secondary form-control marbo15 msn-style"> Registrarme </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>